<div class="main-page">
    <app-sidemenu></app-sidemenu>

    <div class="contents-page">
        <app-header></app-header>

        <div class="headingz">
            <h4><a href="#" routerLink="/all-owner/"><i class="far fa-arrow-alt-circle-left"></i> </a>{{data.First_Name}} {{ data.Last_Name}}</h4>
        </div>
        
        
        
        <div class="page contents">
        
          <div class="row owner-details">
              <div class="col-md-4">
               <!-- <img src="assets/images/owner-img.jpg" class="img-fluid" alt="Responsive image"> -->

               <img class="img-responsive" *ngIf="!data.Profile_Image" src="../../assets/images/owner-img-1.jpg" alt="">
               <img class="img-responsive" *ngIf="data.Profile_Image" src="{{imgUrl+data.Profile_Image}}" alt="">

              </div>
              
              <div class="col-md-8">
                  <h4><span><i class="fas fa-map-marker-alt"></i></span> Home Address </h4>
                  <p>{{data.Home_Address}}
                  </p>
                  
                  <h4><span><i class="far fa-envelope" aria-hidden="true"></i></span> E-Mail </h4>
                  <p>{{data.Email}}</p>
                  
                  <h4><span><i class="fas fa-mobile-alt" aria-hidden="true"></i></span> Phone </h4>
                  <p>{{data.Mobile}}</p>
                  
                   <h4><span><i class="fas fa-house-user" aria-hidden="true"></i></span> Family Name </h4>
                  <p>{{data.Family_Name}}</p>
                  
                   <h4><span><i class="fas fa-parking"></i></span> Parking Ability </h4>
                  <p>{{data.Parking_Ability}}</p>
                  
              </div>
              
            </div> 
            
          <div class="row" *ngIf="listBoat!=''">
              <div class="container">
            <h4 class="content-title">Boats</h4>
             </div>
            </div> 
            
             <div class="row boat-list">
                
            <div class="card col-md-4" *ngFor="let boat of listBoat  let i = index;">
               <div class="profile-pic">

                <a ><img class="card-img-top"  *ngIf="!boat.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat image"></a>
                <a ><img class="card-img-top"  *ngIf="boat.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+boat.BoatDetails[0].Boat_Image[0]}}" alt="boat image"></a>

                 <ul class="edit">
                   <li>  <a ><i class="far fa-eye"></i></a></li>
                   
                   </ul>
                  </div>
                   
<div class="card-body">
<a  class="card-link"><i class="fas fa-map-marker-alt"></i> {{boat.BoatDetails[0].Location_Name}}</a>
<a  class="card-link f-right"  routerLink="/book-for-owner/" ><i class="far fa-calendar-alt"></i> </a>
</div>                    
<div class="card-header">
<a > {{boat.Boat_Name}}</a>
</div>

<div class="card-body row">                    
<div class="booking-days col-md-6">
    <h6>0/ {{boat.BoatDetails[0].Summer_WeekDays+boat.BoatDetails[0].Summer_WeekEndDays+boat.BoatDetails[0].Winter_WeekDays+boat.BoatDetails[0].Winter_WeekEndDays}} Days </h6>

<!-- <h6>100/300 Days </h6>  -->
 </div>
 
 <div class="owner-nos col-md-6">
     <h6>{{boat.Owners_Allowed}} Super Owners </h6>
 </div>
 
</div>                   
</div>
                 
            </div>  
        </div>
    </div>
</div>
<div class="dash-footer">
<small>© Copyright SMART Boating 2021. All Rights Reserved.</small>    
</div>
