<div class="main-page">
    <app-sidemenu></app-sidemenu>
  
    <div class="contents-page ">
      <app-header></app-header>
        <div class="headingz">
          <!-- Create component for add admin   Done By Alagesan on 29.07.2021	-->
            <h4> Add Admin</h4>
        </div>
        <div class="page contents">
            <div class="sbg-form"> 
                <form >
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Username</label> 
                            <input type="text" class="form-control" placeholder="Username">
                        </div>
                    </div>  
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Email Id</label> 
                            <input type="text" class="form-control" placeholder="Email Id">
                        </div>
                    </div> 
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Password</label> 
                            <input [type]="show ? 'text' : 'password'" placeholder="Password" autocomplete="off" class="form-control" >
                            <span class="" (click)="password()" style="position: absolute;right: 7px; bottom: 0px; z-index: 1; font-size: x-large;" ><i class="fas fa-eye"></i></span>

                        </div> 
                   </div>                
                    <div class="form-row">     
                        <div class="col-md-2">
                            <a  class="btn btn-primary" style="margin-top: 10px;" >Create</a>
                        </div>             
                    </div>
                </form>     
            </div>  
            <div>
                <div class="sbg-form row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="col-md-6" style="padding-top: 20px;padding-bottom: 10px;">
                                <button class="btn btn-primary" type="button"  style="width: 100%;">Admin Permissions Select All/ UnSelect<span><i ></i></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                    <!-- Admin permissions for add admin   Done By Alagesan on 30.07.2021	-->
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Dashboard :</label>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Overview" name="Overview">Overview
                            </label>
                            </div>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="New Booking"  name="New_booking">New booking 
                            </label>
                            </div>
                              
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Todays Booking"  name="Todays_Booking">Todays Booking
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Cancellations"  name="Cancellations">Cancellations
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Standby Booking"  name="Standby_Booking">Standby Booking
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Need Assistance"  name="Parking_Ability">Need Assistance
                            </label>
                            </div>        
                            
                            </div>    
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Settings :</label>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Boat Type" name="Boat_Type">Boat Type
                            </label>
                            </div>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Location"  name="Location">Location 
                            </label>
                            </div>
                              
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Unavailable Days"  name="Unavailable_Days">Unavailable Days
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Consecutive Days"  name="Consecutive_Days">Consecutive Days
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Next Booking Days"  name="Next_Booking_Days">Next Booking Days
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Share Allocation"  name="Share_Allocation">Share Allocation
                            </label>
                            </div>        
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Special Days"  name="Special_Days">Special Days
                            </label>
                            </div> 
                            </div>    
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Boat :</label>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="All Boats" name="All_Boats">All Boats
                            </label>
                            </div>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Add Boat"  name="Add_Boat">Add Boat 
                            </label>
                            </div>
                              
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Archived Boats"  name="Archived_Boats">Archived Boats
                            </label>
                            </div> 
                            </div>    
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Owners :</label>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="All Owners" name="All_Owners">All Owners
                            </label>
                            </div>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Add Owner"  name="Add_Owner">Add Owner 
                            </label>
                            </div>
                              
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Manage Owner"  name="Manage_Owner">Manage Owner
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Owner Duration"  name="Owner_Duration">Owner Duration
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Ownership Transfer"  name="Ownership_Transfer">Ownership Transfer
                            </label>
                            </div> 
                            </div>    
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Boat Booking :</label>
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Booking" name="Booking">Booking
                                </label>
                                </div>   
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Stand By Booking" name="Stand_By_Booking">Stand By Booking
                                </label>
                                </div>   
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Boat Maintenance :</label>
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Boat Maintenance" name="Boat_Maintenance">Boat Maintenance
                                </label>
                                </div>      
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Admin Booking :</label>
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input"  value="Book for Admin " name="Book_for_Admin">Book for Admin
                                    </label>
                                    </div> 
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Book for an Owner" name="Book_for_an_owner">Book for an Owner
                                </label>
                                </div>      
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Cancellation :</label>
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Cancellation" name="Cancellation">Cancellation
                                </label>
                                </div>      
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                            <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Reports :</label>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Available Reports" name="Available_Reports">Available Reports
                            </label>
                            </div>
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Ownership Reports"  name="Ownership_Reports">Ownership Reports 
                            </label>
                            </div>
                              
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Owner Report"  name="Owner_Report">Owner Report
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Boat Report"  name="Boat_Report">Boat Report
                            </label>
                            </div> 
                            <div class="form-check-inline">
                            <label class="form-check-label">
                            <input type="checkbox" class="form-check-input"  value="Booking Report"  name="Booking_Report">Booking Report
                            </label>
                            </div> 
                            </div>    
                        </div> 
                    </div>
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label style="font-weight: bold; text-transform: none; margin-right: 15px;">Smart Boating :</label>
                                <div class="form-check-inline">
                                <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"  value="Smart Boating" name="Smart_Boating">Smart Boating
                                </label>
                                </div>      
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
    </div>  
</div>
          <!-- Create component for add admin   Done By Alagesan on 29.07.2021	-->
<div class="dash-footer">
    <app-footer-adminsession></app-footer-adminsession>   
</div>