<!--Create Component for myprofile Done By Alagesan	on 17.05.2021 -->
<div class="main-page">
    <app-owner-sidemenu></app-owner-sidemenu>
    <div class="contents-page col-lg-9">
          <app-owner-header></app-owner-header>
        <div class="headingz">
            <h4>My profile</h4>
        </div>
       <div class="page contents" style="padding-left: 8%;padding-bottom: 60%;">
           <h4 class="content-title">My Boats</h4>
           <div class="row boat-list">
                      
            <!-- <div class="card col-md-4">
                <a href="#"><img class="card-img-top" src="../../assets/images/boat1.jpg" alt="boat image"></a>
                <div class="card-body">
                <a href="#" class="card-link"><i class="fas fa-map-marker-alt" aria-hidden="true"></i> Sydney</a>
                <a href="calender.html" class="card-link f-right"><i class="far fa-calendar-alt" aria-hidden="true"></i> Calendar</a>
                </div>                    
                <div class="card-header">
                <a href="#"> Sailboat DELPHIA YACHTS</a>
                </div>

                <div class="card-body row">                    
                <div class="booking-days col-md-6">
                <h6>100/300 Days </h6>
                </div>

                <div class="owner-nos col-md-6">
                    <h6>10 Super Owners </h6>
                </div>

                </div>                   
            </div>
        -->
        <div class="card col-md-4" *ngFor="let boat of listBoat  let i = index;">
            <div class="profile-pic">

                <a ><img class="card-img-top"  *ngIf="!boat.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat image"></a>
                <a ><img class="card-img-top"  *ngIf="boat.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+boat.BoatDetails[0].Boat_Image[0]}}" alt="boat image"></a>

               <!-- <a href="boat-details.html"><img class="card-img-top" src="assets/images/boat1.jpg" alt="boat image"></a> -->
              <ul class="edit">
                <li>  <a (click)=viewBoat(boat)><i class="far fa-eye"></i></a></li>
                
                </ul>
            </div>
                
            <div class="card-body">
            <a  class="card-link"><i class="fas fa-map-marker-alt"></i> {{boat.BoatDetails[0].Location_Name}}</a>
            <a  class="card-link f-right"><i class="far fa-calendar-alt"></i> </a>
            </div>                    
            <div class="card-header">
            <a > {{boat.Boat_Name}}</a>
            </div>

            <div class="card-body row">                    
            <div class="booking-days col-md-6">
                <h6>0/ {{boat.BoatDetails[0].Summer_WeekDays+boat.BoatDetails[0].Summer_WeekEndDays+boat.BoatDetails[0].Winter_WeekDays+boat.BoatDetails[0].Winter_WeekEndDays}} Days </h6>

            <!-- <h6>100/300 Days </h6> -->
            </div>
            </div>   
            
            <div class="card-body row">
                <div class="booking-days col-md-12" *ngIf="boat.Boat_Name && boat.BoatDetails[0].Boat_Status == '0' ||  boat.Boat_Name &&  boat.BoatDetails[0].Boat_Status == '2'">
                    <div >
                        <a > {{boat.Boat_Name}} is disable.</a>
                    </div>
                </div>
                <div class="booking-days col-md-12" *ngIf="boat.Boat_Name && boat.BoatDetails[0].Boat_Status == '1'">
                    <div>
                        <a > {{boat.Boat_Name}} is active.</a>
                    </div>
                </div>
                
            </div>
            
            <button style="display:none" type="button" data-backdrop="static" data-keyboard="false" id="active-boat-popupbtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#activeBoatModal">Open Modal</button>
                        
            <div class="modal fade" id="activeBoatModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Boat</h4>
                </div>
                <div class="modal-body">
                    <p>Boat is active</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="activeBoat(boat)" data-dismiss="modal">OK</button>
                </div>
                </div>
                
            </div>
            </div>

            <!--Disable and archive boat popup message for my profile Done By Alagesan on 12.07.2021	-->
         <button style="display:none" type="button" id="disable-boat-popup-message-btn"  data-backdrop="static" data-keyboard="false"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#disableBoatModal">Open Modal</button>
                    
                    
         <div class="modal fade" id="disableBoatModal" role="dialog">
         <div class="modal-dialog">
         
             

             <div class="modal-content">
             <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title">Disable Boat</h4>
             </div>
             <div class="modal-body">
                 <div *ngIf="boat.Boat_Name">
                    <p>{{disableBoat}} is disable. Please contact admin@smartboating.com.au or 02 9997 5344 if you have any questions.</p>
                 </div>
             </div>
             <div class="modal-footer">
                 <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
             </div>
             </div>
             
         </div>
         </div> 

          <!--Show ended date popup for myprofile Done By Alagesan	on 07.07.2021 -->
       <button style="display:none" type="button" data-backdrop="static" data-keyboard="false" id="ended-date-popupbtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#endedDateModal">Open Modal</button>
              
       <div class="modal fade" id="endedDateModal" role="dialog">
       <div class="modal-dialog">
       
           <!-- Modal content-->
           <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Owner Duration Ended</h4>
           </div>
           <div class="modal-body">
            <p>Owner duration for {{expireBoat}} is expired on {{endedFormatDate}}.</p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
               <button type="button" class="btn btn-default"  data-dismiss="modal">Renew</button>
           </div>
           </div>
           
       </div>
       </div>

</div>   
           </div>
           <div class="row user-profile">
             <div class="col-xs-12 col-sm-6 col-md-6 user-contents">
                 <div class="well well-sm">
                     <div class="row">
                         <div class="col-sm-6 col-md-4 user">
                             <img class="img-responsive" *ngIf="!data.Profile_Image" src="../../assets/images/dummy-owner-img.jpg" alt="">
                             <img class="img-responsive" *ngIf="data.Profile_Image" src="{{imgUrl+data.Profile_Image}}" alt="">


                             <!-- <a href="boat-details.html"><img class="card-img-top"  *ngIf="!boat.Profile_Image" src="/assets/images/boat1.jpg" alt="boat image"></a>
                             <a href="boat-details.html"><img class="card-img-top"  *ngIf="boat.Profile_Image" src="{{imgUrl+boat.Profile_Image}}" alt="boat image"></a> -->
                         </div>
                         <div class="img-responsive">
                             <h4>{{data.First_Name}}</h4>
                             <p>
                                <i class="fas fa-map-marker-alt" aria-hidden="true"></i> {{data.Home_Address}}
                            </p>
                            <p>
                                <i class="far fa-envelope" aria-hidden="true"></i> {{data.Email}}
                            </p>
                            <p>
                                <i class="fas fa-phone-alt" aria-hidden="true"></i> {{data.Mobile}}
                            </p>
                            <a (click)= editProfile() class="edit-profile"><i class="far fa-edit" aria-hidden="true"></i> </a>
                         </div>
                     </div>
                 </div>
             </div>
           </div>

           <!--Show owner duration details for myprofile Done By Alagesan	on 01.07.2021 -->

           <div>
            <h4 class="content-title">Owner Durations Details</h4>
            <div class="row">
                <div class="col-md-4 mr-2 boat-list-1" *ngFor="let owner of ownerdurationsdetails  let i = index;">
                    <a >
                    
                    <div class="info">
                        <div *ngIf="owner.BoatDetails[0]" >
                        <h5><span><i class="far fa-user"></i>  </span> {{owner.OwnerDetails[0].First_Name}}{{owner.OwnerDetails[0].Last_Name}}</h5>
                        <h5><span><i ></i>  </span> {{owner.BoatDetails[0].Boat_Name}}</h5>
                        <h5><span><i ></i>  </span> {{owner.BoatDetails[0].Boattype_Name}}</h5>
                        <h5><span><i ></i>  </span> {{owner.From_Date | date:'dd/MM/yyyy'}}</h5>
                        <h5><span><i ></i>  </span> {{owner.To_Date | date:'dd/MM/yyyy'}}</h5>
                        </div>
                        <div *ngIf="!owner.BoatDetails[0]">
                            <h5><span><i class="far fa-user"></i>  </span> {{owner.OwnerDetails[0].First_Name}}{{owner.OwnerDetails[0].Last_Name}}</h5>
                            <h5><span><i ></i>  </span>{{owner.BoatDetails[0].Boat_Name}}</h5>
    
                            <h5><span><i ></i>  </span>{{owner.BoatDetails[0].Boattype_Name}}</h5>
                        </div>
                    </div>
                    </a>
                </div>
               </div>
           </div>
           

       </div>

       <!--Show ending date popup for myprofile Done By Alagesan	on 07.07.2021 -->
       <button style="display:none" type="button" data-backdrop="static" data-keyboard="false" id="ending-date-popupbtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#endingDateModal">Open Modal</button>
              
       <div class="modal fade" id="endingDateModal" role="dialog">
       <div class="modal-dialog">
       
           <!-- Modal content-->
           <div class="modal-content">
           <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal">&times;</button>
               <h4 class="modal-title">Ending Date</h4>
           </div>
           <div class="modal-body">
               <p>{{endingFormatDate}}</p>
           </div>
           <div class="modal-footer">
               <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
           </div>
           </div>
           
       </div>
       </div>

       <!--Activate the owner in admin message for my profile Done By Alagesan on 10.07.2021	-->
        <button style="display:none" type="button" id="suspend-owner-message-btn"  class="btn btn-info btn-lg" data-toggle="modal" data-target="#suspendOwnerModal">Open Modal</button>
                    
                    
        <div class="modal fade" id="suspendOwnerModal" role="dialog">
        <div class="modal-dialog">
        
            
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Owner Suspended</h4>
            </div>
            <div class="modal-body">
                <p>Please contact Admin.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"  data-dismiss="modal">OK</button>
            </div>
            </div>
            
        </div>
        </div>  


    </div>
</div>
<div class="dash-footer">
    <app-footer-adminsession></app-footer-adminsession>    
</div>
<!--Create Component for myprofile Done By Alagesan	on 17.05.2021 -->