<div class="main-page">
    <app-sidemenu></app-sidemenu>

    <div class="contents-page">
        <app-header></app-header>
        <div class="headingz">
            <h4>Archive Boats</h4>
        </div>
        
        
        
        <div class="page contents">
            <div class="row" style="margin-bottom: 25px;">
                  
           <div class="col-md-8 dash-filter">   
           
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{Location_Name_dropDown}}
                <span><i class="fas fa-filter"></i></span></button>
                <ul class="dropdown-menu">
                <input class="form-control" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchLoction">
                <li *ngFor="let loc of loctions | filter: searchLoction let i = index;">
                  <a style="cursor:pointer;"  (click)="getLoctionTypeId(loc)">{{loc.Boat_Location}}</a>
                </li>
                
                </ul>
                                  </div>
               
                 </div>        
                 <div class="col-md-4 boat-search">
                     <div class="input-group mb-3">
                        <input type="text" class="form-control" style="height: 36px;" [(ngModel)]="searchText" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
<button class="btn btn-outline-secondary" style="height: 36px;" type="button"><i class="fas fa-search"></i></button>
</div>
</div>
                  </div>   
                  
           
            </div>
            
          <h4 class="content-title">Boats</h4>   
            
             <div class="row boat-list">
                
             <div class="card col-md-4" *ngFor="let boat of allBoats | filter: searchText  let i = index;">

                 <a href="boat-details.html"><img class="card-img-top"  *ngIf="!boat.Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat image"></a>
                 <a href="boat-details.html"><img class="card-img-top"  *ngIf="boat.Boat_Image[0]" src="{{imgUrl+boat.Boat_Image[0]}}" alt="boat image"></a>
<div class="card-body">
<a href="#" class="card-link"><i class="fas fa-map-marker-alt"></i>  {{boat.locationDetails[0].Boat_Location}}</a>
<!-- <a href="#" class="card-link f-right"><i class="far fa-calendar-alt"></i> Calendar</a> -->
</div>                    
<div class="card-header">
<a href="#"> {{boat.Boat_Name}}</a>
</div>

<div class="card-body row">                    
<!-- <div class="booking-days col-md-6">
<h6>100/300 Days </h6>
 </div> -->
 
 <div class="owner-nos col-md-6">
    <h6>100/ {{boat.Total_Days}} Days </h6>
</div>
 
</div>                   
</div>
          
            </div>  
         </div>
    </div>
</div>
<div class="dash-footer">
<small>© Copyright SMART Boating 2021. All Rights Reserved.</small>    
</div>