<!--Create Component for boat bookings Done By Alagesan on 20.05.2021-->

<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page col-lg-9">
        <app-header></app-header>
        <div class="headingz">
            <h4>Bookings</h4>
        </div>
        <div class="page contents">
                  
            <div class="row" style="margin-bottom: 25px;">
                
         <div class="col-md-6 dash-filter">   
<!--          
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">Location
                    <span><i class="fas fa-filter"></i></span></button>

            
                <ul class="dropdown-menu" style="width: 94%;">
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <li><a href="#">A</a></li>
                <li><a href="#">B</a></li>
                <li><a href="#">C</a></li>
                <li><a href="#">D</a></li>
                </ul>
            </div> -->
            <div class="dropdown">

                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"
                  style="width: 100%;">{{Location_Name_dropDown}}
                  <span><i class="fas fa-filter"></i></span></button>
    
                <ul class="dropdown-menu">
                  <input class="form-control" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchLoctions">
                  <li *ngFor="let loc of loctions | filter: searchLoctions let i = index;">
                    <a style="cursor:pointer;" (click)="getLoctionTypeId(loc)">{{loc.Boat_Location}}</a>
                  </li>
    
                </ul>
              </div>
               </div>        
               <div class="col-md-6 boat-search">
                <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2" [(ngModel)]="searchLoction">
                <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><i class="fas fa-search" aria-hidden="true"></i></button>
                </div>
                </div>
                </div>   
          </div>
          <form [formGroup]="boatbookingform"  novalidate>
          <div class="row date-filter">
            <div class="form-group col-md-3" style="padding-top: 32px;">
                <div class="dropdown">


                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">{{Launch_Date_DropDown}}
                        <span><i class="fas fa-filter"></i></span></button>
        
        <!-- 
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Launch Date
                    <span><i class="fas fa-filter" aria-hidden="true"></i></span></button> -->
                    <ul class="dropdown-menu">
                    <li><a (click)="setLanDates('Launch_Date')"  value="Launch_Date">Launch Date</a></li>
                    <li><a (click)="setLanDates('Pre_Launch_Date')"  value="PreLaunch_Date">Pre-Launch Date</a></li>
                    </ul>
                  </div>
                </div>

            <div class="form-group col-md-3">
            <label>From Date </label>
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; inset: auto; margin: 0px; padding: 0px; width: 345px;"><input  id="datepicker" type="text" formControlName="Launch_Date1"  class="form-control" data-zdp_readonly_element="false" style="position: relative; float: none; inset: auto; margin: 0px; padding-right: 40px;" (focusout)="fromDate($event)">
                <!-- <button type="button" class="Zebra_DatePicker_Icon" style="top: 11px; right: 12px;">Pick a date</button> -->
            </span>
            </div>

            <div class="form-group col-md-3">
            <label>To Date </label>
            <span class="Zebra_DatePicker_Icon_Wrapper" style="display: block; position: relative; float: none; inset: auto; margin: 0px; padding: 0px; width: 345px;"><input id="datepicker-2" type="text" formControlName="Launch_Date2"  class="form-control" data-zdp_readonly_element="false" style="position: relative; float: none; inset: auto; margin: 0px; padding-right: 40px;" (focusout)="toDate($event)" (change)="lunchdateChange($event)">
                <!-- <button type="button" class="Zebra_DatePicker_Icon" style="top: 11px; right: 12px;">Pick a date</button> -->
            </span>
            </div>

            <div class="col-md-3" style="padding-top: 32px; text-align: right;">
                <!-- <a href="#" class="btn btn-primary">SEARCH</a> -->
                <button type="button" class="btn btn-primary"  (click)="getSearchData()" style="width: 100%;">SEARCH</button>
            </div>                  
          </div>      
          
        </form>
          <div class="container" style="margin: 30px 0px 0px 0px;">
            <ul id="tabs" class="nav nav-tabs booking-tabs" role="tablist">
            <li class="nav-item">
                <a id="tab-A" href="#pane-A" class="nav-link active" data-toggle="tab" role="tab">Booking</a>
            </li>
            <li class="nav-item">
                <a id="tab-B" href="#pane-B" class="nav-link" data-toggle="tab" role="tab">Stand By Booking</a>
            </li>

            </ul>


            <div id="content" class="tab-content" role="tablist">
            <div id="pane-A" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab-A">
            <div class="row boat-listing" >
            <div class="col-md-4 boat-list-1" *ngFor="let booking of bookingInfo | filter: searchLoction  let i = index;">
                    <a href="#">
                    <div class="boat-img">
                        <!-- <img *ngIf="!booking.BoatDetails[0]" src="/assets/images/boat-1.jpg" alt="boat"> -->

                        <img *ngIf="!booking.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                        <img *ngIf="booking.BoatDetails[0].Boat_Image[0]" src={{imagePath}}{{booking.BoatDetails[0].Boat_Image[0]}} alt="boat">

                    </div>

                    <div class="info">
                        <h4>{{booking.BoatDetails[0].Boat_Name}}</h4>
                        <h4>{{booking.BoatDetails[0].Boat_Number}}/{{booking.Booking_ID}}</h4>

                        <!-- <h5>#{{i+1001}}</h5> -->
                        <h5><span><i class="far fa-calendar-check" aria-hidden="true"></i>  </span>{{booking.start | date :'short'}}</h5>
                        <!-- <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].First_Name}}</h5> -->
                        <div *ngIf="booking.OwnerDetails[0]" >
                            <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].First_Name}}</h5>
                        <h5><span><i class="fas fa-parking" aria-hidden="true"></i>  </span> {{booking.OwnerDetails[0].Parking_Ability}}</h5>
                        </div>
                        <div *ngIf="!booking.OwnerDetails[0]" >
                            <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> Admin</h5>
                            <h5><span><i class="fas fa-parking" aria-hidden="true"></i>  </span> NA</h5>
                            </div>
                        <h5><span><i class="fas fa-history" aria-hidden="true"></i>  </span>{{booking.end | date :'short'}}</h5>
                    </div>
                    </a>
            </div>  
                                            
        </div>
    </div>

                <div id="pane-B" class="card tab-pane fade" role="tabpanel" aria-labelledby="tab-B">
                    <div class="row boat-listing">
                        <div class="col-md-4 boat-list-1" *ngFor="let booking of bookingInfo let i = index;">
                            <a href="#">
                            <div class="boat-img">
                                <img *ngIf="!booking.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                                <img *ngIf="booking.BoatDetails[0].Boat_Image[0]" src={{imagePath}}{{booking.BoatDetails[0].Boat_Image[0]}} alt="boat">                            </div>
                            </a>
                            <div class="info"><a href="#">
                                <h4>{{booking.BoatDetails[0].Boat_Name}}</h4>

                                <!-- <h4>{{booking.Boat_Name}}</h4> -->
                                <h5><span><i class="far fa-calendar-check" aria-hidden="true"></i></span> {{ booking.start | date :'short' }}</h5>
                                <h5><span><i class="far fa-user" aria-hidden="true"></i>  </span> Francis</h5>
                                <h5><span><i class="fas fa-parking" aria-hidden="true"></i>  </span> Expert</h5>
                                <h5><span><i class="fas fa-history" aria-hidden="true"></i>  </span>{{ booking.end | date :'short' }}</h5>
                                </a><a href="#" class="btn btn-primary">Accept</a>
                                <a href="#" class="btn btn-danger">Reject</a> 
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>
<div class="dash-footer">
<!-- <small>© Copyright SMART Boating 2021. All Rights Reserved.</small>   -->
<app-footer-adminsession></app-footer-adminsession>  
</div>
<!--Create Component for boat bookings Done By Alagesan on 20.05.2021-->