    <!--Create Component for owner sidemenu Done By Alagesan	-->

<div class="main-page" >
    
    <div class="side-menu col-lg-4" style="height: 150%;">
        <div class="logo-section">
            <a >
                <img src="/assets/images/logo1.svg">
            </a>
        </div>
        <ul class="menu-list">
            <li>
                <a  routerLink="/owner-dashboard/" routerLinkActive="active" class="menu-items ">
                    <div class="menu-icon1">
                    </div>
                    <div class="menu-title">
                        Dashboard
                    </div>
                </a>
            </li>
            <li>
                <a  routerLink="/myprofile/" routerLinkActive="active" class="menu-items">
                    <div class="menu-icon1 menu-icon3">
                    </div>
                    <div class="menu-title">
                        My Profile
                    </div>
                </a>
            </li>
    
            <li>
                <a  routerLink="/history/" routerLinkActive="active" class="menu-items">
                    <div class="menu-icon1 menu-icon4">
                    </div>
                    <div class="menu-title">
                        History
                    </div>
                </a>
            </li>

        </ul>
    </div>
    </div>
        <!--Create Component for owner sidemenu Done By Alagesan	-->
