<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page ">
          <app-header></app-header>
        <div class="headingz">
            <h4>Dashboard</h4>
        </div>
        <div class="page contents">
            <div class="row">

                
                <div class="col-md-4">  

                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%;">{{Location_Name_dropDown}}
                        <span><i class="fas fa-filter"></i></span></button>

                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchLoction">
                        <li *ngFor="let loc of loctions | filter: searchLoction let i = index;">
                        <a style="cursor:pointer;"  (click)="getLoctionTypeId(loc)">{{loc.Boat_Location}}</a>
                        </li>
                        
                    </ul>
                </div>

                <div class="col-md-4">
                  <div class="input-group mb-3">
                      <input type="text" class="form-control" style="height: 36px;" [(ngModel)]="searchText" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                   
                  </div>
               </div>
  
                          
                <div class="col-md-4" style="float: right;" >
                    <button class="btn btn-primary dropdown-toggle btn-BoatName-dropdown"  type="button" data-toggle="dropdown">{{Boat_Name_dropDown}}
                    <span><i class="fas fa-filter" aria-hidden="true"></i></span></button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput" type="text" placeholder="Search.." [(ngModel)]="searchLoction_Boat">
                        <li *ngFor="let loc of dropdown_Boat_List | filter: searchLoction_Boat let i = index;">
                        <a style="cursor:pointer;"  (click)="getLoctionTypeId_Boat(loc)">{{loc.Boat_Name}}</a>
                    </li>
                       
                    </ul>
                </div>
                          
                          
                         

            
           </div>

                     
           
           <div class="row">
               <div class="boxings">
           <div class="custom-tabs">
                   <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                       <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
                     </li>
                      
                     
                       <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu1">New Booking  <span class="badge badge-info">{{New_Booking_Count}}</span></a>
                     </li>
                      <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu2">Today’s Sale <span class="badge badge-info">{{Todays_Booking_Count}}</span></a>
                     </li>
                        <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu3">Cancellations <span class="badge badge-info">{{Cancellations_Count}}</span></a>
                     </li>
                        <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu4">Stand by Booking <span class="badge badge-info">{{Stand_by_Booking_Count}}</span></a>
                     </li>
                   </ul>

                   <div class="tab-content">
                       
                     <div id="overview" class="container tab-pane active"><br>
                       <div class="row">

                        <!-- ............................................. -->

                        <!-- <div id="calendar-container"> -->
                            <div class="fc fc-ltr fc-unthemed">
                               <div class="fc-toolbar fc-header-toolbar">
                                 
                               </div>
                               <div class="fc-view-container">
                                  <div class="fc-view fc-dayGridMonth-view fc-dayGrid-view">
                                     <table class="">
                                        <thead class="fc-head">
                                           <tr>
                                              <td class="fc-head-container fc-widget-header">
                                                 <div class="fc-row fc-widget-header">
                                                    <table class="">
                                                       <thead>
                                                          <tr>
                                                            <button class="btn-primary btn Cls-btn-left"> 
                                                              <span class="fa fa-angle-left"></span>
                                                            </button>
                                                            <button class="btn-primary btn Cls-btn-right"> 
                                                              <span class="fa fa-angle-right"></span
                                                            ></button>
                                                             <th class="fc-day-header fc-widget-header fc-sun">
                                                               <h3 style="margin: -25px 0px 0px 0px;"><span class="cls-span-Month"></span>-<span class="cls-span-Year"></span></h3>
                                                             </th>
                                                              <button type="button" class="btn-primary btn cls-month-btn">month</button>
                                                                </tr>
                     
                                                       </thead>
                                                    </table>
                                                 </div>
                                              </td>
                                           </tr>
                                        </thead>
                                        <tbody class="fc-body">

                                            <tr>
                                              <td class="fc-widget-content">
                     
                                                    <div class="fc-day-grid">
                                                       <div class="fc-row fc-week fc-widget-content fc-rigid">
                                                         <div class="fc-table-start-div">
                                                         <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm " cellspacing="0"
                                                           width="100%">
                                                            <!-- <tr id="id-TR-Resource-Timeline-days">                                                              
                                                            
                                                            </tr> -->

                                                            <tr>
                                                              <td>Auditorium A</td>
                                                          <td></td>                     
                                                            <td></td>
                                                              <td></td>
                                                                <td></td>
                                                                  <td></td>
                                                                    <td></td>
                                                                      <td></td>
                                                                      <td></td>
                                                                        <td></td>
                                                                          <td></td>
                                                                            <td></td>
                                                                              <td></td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                  <td></td>
                                                                                    <td></td>
                                                                                      <td></td>
                                                                                        <td></td>
                                                                                          <td></td>
                                                                                          <td></td>
                                                                                            <td></td>
                                                                                              <td></td>
                                                                                                <td></td>
                                                                                                  <td></td>
                                                                                                    <td></td>
                                                      
                                                          </tr>

                                                         


                                                               

                                                            </table>
                     
                                                 </div>
                                                       </div>
                                                       </div>
                                              </td>
                                           </tr> 

                                        </tbody>
                                     </table>
                                  </div>
                               </div>
                            </div>
                         <!-- </div> -->
                        

                        <!-- .................................................... -->
                           <!-- <img src="/assets/images/calender-overview.jpg" class="img-responsive"> -->
                          
                         </div>
                     </div> 
                      
                      <div id="menu1" class="container tab-pane fade"><br>
                        
                          <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>     
                          
                       <div class="row boat-listing">
                           
                         
                        <div class="col-md-6 boat-list-1" *ngFor="let book of newBooking | filter: searchText let i = index;">
                            <a>
                            <div class="boat-img">
                                <img *ngIf="!book.Boat_Image" src="/assets/images/boat-1.jpg" alt="boat">
                                <img *ngIf="book.Boat_Image" src="{{book.imgUrl}}" alt="boat">
                                                                </div>
                            <div class="info">
                                <h4>{{book.Boat_Name}}</h4>
                                
                                <h5><span><i class="far fa-calendar-check"></i>  </span>{{book.start| date :'short'}}</h5>
                                <div *ngIf="book.OwnerDetails">
                                    <h5><span><i class="far fa-user"></i>  </span> {{book.First_Name}}</h5>
                                    <h5><span><i class="fas fa-parking"></i>  </span> {{book.Parking_Ability}}</h5>
                                    </div>
                                    <div *ngIf="!book.OwnerDetails">
                                        <h5><span><i class="far fa-user"></i>  </span>Admin</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> -</h5>
                                    </div>
                                <h5><span><i class="fas fa-history"></i>  </span>{{book.end| date :'short'}}</h5>
                            </div>
                            </a>
                </div>  
                           
              
                  
                         </div>
                     </div>
                     <div id="menu2" class="container tab-pane fade"><br>
                              <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>    
                             
                       <div class="row boat-listing">
                           
                              <div class="col-md-6 boat-list-1" *ngFor="let book of todaysBooking | filter: searchText let i = index;">
                                    <a href="#">
                                    <div class="boat-img">

                                        <img *ngIf="!book.Boat_Image" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="book.Boat_Image" src="{{book.imgUrl}}" alt="boat">
                                    
                                    </div>
                                    <div class="info">
                                        <h4>{{book.Boat_Name}}</h4>
                                        <!-- <h5># 1001</h5> -->
                                        <h5><span><i class="far fa-calendar-check"></i>  </span> {{book.start| date :'short'}}</h5>
                                        <div *ngIf="book.OwnerDetails">
                                                <h5><span><i class="far fa-user"></i>  </span> {{book.First_Name}}</h5>
                                                <h5><span><i class="fas fa-parking"></i>  </span> {{book.Parking_Ability}}</h5>
                                        </div>
                                        <div *ngIf="!book.OwnerDetails">
                                            <h5><span><i class="far fa-user"></i>  </span>Admin</h5>
                                            <h5><span><i class="fas fa-parking"></i>  </span> -</h5>
                                        </div>
                                        <h5><span><i class="fas fa-history"></i>  </span>{{book.end| date :'short'}}</h5>
                                    </div>
                                    </a>
                                </div>
                           
                           
                        
                     
                         </div>
                     </div>
                     <div id="menu3" class="container tab-pane fade"><br>
                         
                           <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>   
                         
                        <div class="row boat-listing">
                           
                          <div class="col-md-6 boat-list-1" *ngFor="let cancel of Cancels | filter: searchText  let i = index;">
                                    <a href="#">
                                    <div class="boat-img">
                                        <img *ngIf="!cancel.Boat_Image" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="cancel.Boat_Image" src="{{cancel.imgUrl}}" alt="boat">

                                    </div>
                                    <div class="info">
                                        <h4>{{cancel.Boat_Name}}</h4>
                                        <!-- <h5># 1001</h5> -->
                                        <h5><span><i class="far fa-calendar-check"></i>  </span> {{cancel.start| date :'short'}}</h5>
                                        <div *ngIf="cancel.OwnerDetails" >
                                        <h5><span><i class="far fa-user"></i>  </span> {{cancel.First_Name}}</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> {{cancel.Parking_Ability}}</h5>
                                        </div>
                                        <div *ngIf="!cancel.OwnerDetails">
                                            <h5><span><i class="far fa-user"></i>  </span> Admin</h5>
                                            <h5><span><i class="fas fa-parking"></i>  </span> NA</h5>
                                            </div>
                                        <h5><span><i class="fas fa-history"></i>  </span>{{cancel.end| date :'short'}}</h5>
                                    </div>
                                    </a>
                                </div>
                          
                      
                  
                         </div>
                     </div>
                       
                       
                     <div id="menu4" class="container tab-pane"><br>
                               <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>   
                             
                       <div class="row">
                           <div class="row boat-listing">
                          <div class="col-md-5 boat-list-1" *ngFor="let StandbyBooking of Stand_by_Booking | filter: searchText  let i = index;">
                                    <a >
                                    <div class="boat-img">
                                         <img *ngIf="!StandbyBooking.Boat_Image" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="StandbyBooking.Boat_Image" src="{{StandbyBooking.imgUrl}}" alt="boat">


                                        <!-- <img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat">-->
                                    </div> 
                                    <div class="info">
                                        <h4>{{StandbyBooking.Boat_Name}}</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> {{StandbyBooking.start| date :'short'}} </h5>
                                        
                                         <div *ngIf="StandbyBooking.OwnerDetails" >
                                          <h5><span><i class="far fa-user"></i>  </span> {{StandbyBooking.First_Name}}</h5>
                                          <h5><span><i class="fas fa-parking"></i>  </span> {{StandbyBooking.Parking_Ability}}</h5>
                                          </div>
                                          <div *ngIf="!StandbyBooking.OwnerDetails">
                                              <h5><span><i class="far fa-user"></i>  </span> Admin</h5>
                                              <h5><span><i class="fas fa-parking"></i>  </span> NA</h5>
                                              </div>
                                        
                                        
                                         <!-- <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5> -->
                                        <h5><span><i class="fas fa-history"></i>  </span>{{StandbyBooking.end| date :'short'}}</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>  
           
<!--            
             <div class="col-md-5 boat-list-1">
                                    <a >
                                    <div class="boat-img"><img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat"></div>
                                    <div class="info">
                                        <h4>Sailboat DELPHIA YACHTS</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> 08-sep-2021, 10.00 AM</h5>
                                        <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5>
                                        <h5><span><i class="fas fa-history"></i>  </span>11-Dec-2021, 12.00 AM</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>  
          
             <div class="col-md-5 boat-list-1">
                                    <a >
                                    <div class="boat-img"><img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat"></div>
                                    <div class="info">
                                        <h4>Sailboat DELPHIA YACHTS</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> 08-sep-2021, 10.00 AM</h5>
                                        <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5>
                                        <h5><span><i class="fas fa-history"></i>  </span>11-Dec-2021, 12.00 AM</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>   -->
          
                         </div>
                           
                          
                         </div>
                     </div> 
                   
                 </div>
             </div>
       </div>
           </div>
       </div>
    </div>
</div>
<div class="dash-footer">
    <app-footer-adminsession></app-footer-adminsession>   
</div>