<div class="main-page">
    <app-sidemenu></app-sidemenu>
    <div class="contents-page ">
          <app-header></app-header>
        <div class="headingz">
            <h4>Dashboard</h4>
        </div>
        <div class="page contents">
            <div class="row">

                <div class="col-md-12 dash-filter">   
                    <div class="dropdown" style="float: right;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
      <span><i class="fas fa-map-marker-alt" aria-hidden="true"></i></span></button>
      <ul class="dropdown-menu">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <li><a href="#">Location 1</a></li>
        <li><a href="#">Location 2</a></li>
        <li><a href="#">Location 3</a></li>
        <li><a href="#">Location 4</a></li>
      </ul>
                          </div>
                          
                           <div class="dropdown" style="float: right;">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Boat
      <span><i class="fas fa-filter" aria-hidden="true"></i></span></button>
      <ul class="dropdown-menu">
        <input class="form-control" id="myInput" type="text" placeholder="Search..">
        <li><a href="#">Boat Name 1</a></li>
        <li><a href="#">Boat Name 2</a></li>
        <li><a href="#">Boat Name 3</a></li>
        <li><a href="#">Boat Name 4</a></li>
      </ul>
                          </div>
                          
                          
                         </div>

             <!-- <div class="col-md-12 dash-filter">   
           <div class="dropdown" style="float: right;">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Location
<span><i class="fas fa-map-marker-alt"></i></span></button>
<ul class="dropdown-menu">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<li><a href="#">Location 1</a></li>
<li><a href="#">Location 2</a></li>
<li><a href="#">Location 3</a></li>
<li><a href="#">Location 4</a></li>
</ul>
                 </div>
                 
                  <div class="dropdown" style="float: right;">
<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Boat
<span><i class="fas fa-filter"></i></span></button>
<ul class="dropdown-menu">
<input class="form-control" id="myInput" type="text" placeholder="Search..">
<li><a href="#">Boat Name 1</a></li>
<li><a href="#">Boat Name 2</a></li>
<li><a href="#">Boat Name 3</a></li>
<li><a href="#">Boat Name 4</a></li>
</ul>
                 </div>
                 
                 
                </div> -->
           </div>
           
           
           <div class="row">
               <div class="boxings">
           <div class="custom-tabs">
                   <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                       <a class="nav-link active" data-toggle="tab" href="#overview">Overview</a>
                     </li>
                       
                     <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#home">All Booking</a>
                     </li>
                       <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu1">New Booking  <span class="badge badge-info">2</span></a>
                     </li>
                      <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu2">Today’s Booking <span class="badge badge-info">4</span></a>
                     </li>
                        <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu3">Cancellations <span class="badge badge-info">2</span></a>
                     </li>
                        <li class="nav-item">
                       <a class="nav-link" data-toggle="tab" href="#menu4">Stand by Booking <span class="badge badge-info">2</span></a>
                     </li>
                   </ul>

                   <div class="tab-content">
                       
                       <div id="overview" class="container tab-pane active"><br>
                       <div class="row">
                         <!--Overview calender plugin starts here-->  
<!--                                <div id='calendar'></div>--> <!--Please uncomment this div when overview calender resource ready--->
                           <img src="/assets/images/calender-overview.jpg" class="img-responsive">
                          
                         </div>
                     </div> 
                       
                       
                       
                       
                         <div id="home" class="container tab-pane"><br>
                       <div class="row">
                           <div class="col-lg-8">
                               <div class="calendar-wrapper"></div>
                           </div>
                           
                            <div class="col-lg-4 boat-list-container" id="style-scrollbar">
                              
                                <div class="boat-list-1" *ngFor="let book of Booking  let i = index;">
                                    <a href="boat-details.html">
                                    <div class="boat-img">
                                        <!-- <a href="boat-details.html"><img class="card-img-top"  *ngIf="!boat.Boat_Image[0]" src="/assets/images/boat1.jpg" alt="boat image"></a>
                                        <a href="boat-details.html"><img class="card-img-top"  *ngIf="boat.Boat_Image[0]" src="{{imgUrl+boat.Boat_Image[0]}}" alt="boat image"></a>
                                         -->
                                        <img *ngIf="!book.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="book.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+book.BoatDetails[0].Boat_Image[0]}}" alt="boat">

                                    </div>
                                    <div class="info">
                                        <h4>{{book.BoatDetails[0].Boat_Name}}</h4>
                                        <div *ngIf="book.OwnerDetails[0]">
                                        <h5><span><i class="far fa-user"></i>  </span> {{book.OwnerDetails[0].First_Name}}</h5>
                                        <h5><span><i class="fas fa-phone-alt"></i>  </span>{{book.OwnerDetails[0].Mobile}}</h5>
                                        </div>
                                        <div *ngIf="!book.OwnerDetails[0]">
                                            <h5><span><i class="far fa-user"></i>  </span> Admin</h5>
                                            <h5><span><i class="fas fa-phone-alt"></i>  </span>-</h5>
                                            </div>
                                    </div>
                                    </a>
                                </div>  
                                
                           </div>   
                           
                          
                         </div>
                     </div>
                       
                       
                      <div id="menu1" class="container tab-pane fade"><br>
                        
                          <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>     
                          
                       <div class="row boat-listing">
                           
                           <div class="col-md-6 boat-list-1" *ngFor="let book of newBooking  let i = index;">
                                    <a href="boat-details.html">
                                    <div class="boat-img">
                                        <img *ngIf="!book.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="book.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+book.BoatDetails[0].Boat_Image[0]}}" alt="boat">
                                                                        </div>
                                    <div class="info">
                                        <h4>{{book.BoatDetails[0].Boat_Name}}</h4>
                                        <!-- <h5># 1001</h5> -->
                                        <h5><span><i class="far fa-calendar-check"></i>  </span> {{book.start_NoTime}}</h5>
                                        <div *ngIf="book.OwnerDetails[0]">
                                            <h5><span><i class="far fa-user"></i>  </span> {{book.OwnerDetails[0].First_Name}}</h5>
                                            <h5><span><i class="fas fa-parking"></i>  </span> {{book.OwnerDetails[0].Parking_Ability}}</h5>
    </div>
    <div *ngIf="!book.OwnerDetails[0]">
        <h5><span><i class="far fa-user"></i>  </span>Admin</h5>
        <h5><span><i class="fas fa-parking"></i>  </span> -</h5>
    </div>
                                        <h5><span><i class="fas fa-history"></i>  </span>{{book.end_NoTime}}</h5>
                                    </div>
                                    </a>
                                </div>  
                           
              
                  
                         </div>
                     </div>
                         <div id="menu2" class="container tab-pane fade"><br>
                              <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>    
                             
                       <div class="row boat-listing">
                           
                              <div class="col-md-6 boat-list-1" *ngFor="let book of todaysBooking  let i = index;">
                                    <a href="#">
                                    <div class="boat-img">

                                        <img *ngIf="!book.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="book.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+book.BoatDetails[0].Boat_Image[0]}}" alt="boat">
                                    
                                    </div>
                                    <div class="info">
                                        <h4>{{book.BoatDetails[0].Boat_Name}}</h4>
                                        <!-- <h5># 1001</h5> -->
                                        <h5><span><i class="far fa-calendar-check"></i>  </span> {{book.start_NoTime}}</h5>
<div *ngIf="book.OwnerDetails[0]">
                                        <h5><span><i class="far fa-user"></i>  </span> {{book.OwnerDetails[0].First_Name}}</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> {{book.OwnerDetails[0].Parking_Ability}}</h5>
</div>
<div *ngIf="!book.OwnerDetails[0]">
    <h5><span><i class="far fa-user"></i>  </span>Admin</h5>
    <h5><span><i class="fas fa-parking"></i>  </span> -</h5>
</div>
                                        <h5><span><i class="fas fa-history"></i>  </span>{{book.end_NoTime}}</h5>
                                    </div>
                                    </a>
                                </div>
                           
                           
                        
                     
                         </div>
                     </div>
                     <div id="menu3" class="container tab-pane fade"><br>
                         
                           <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>   
                         
                        <div class="row boat-listing">
                           
                          <div class="col-md-6 boat-list-1" *ngFor="let cancel of Cancels  let i = index;">
                                    <a href="#">
                                    <div class="boat-img">
                                        <img *ngIf="!cancel.BoatDetails[0].Boat_Image[0]" src="/assets/images/boat-1.jpg" alt="boat">
                                        <img *ngIf="cancel.BoatDetails[0].Boat_Image[0]" src="{{imgUrl+cancel.BoatDetails[0].Boat_Image[0]}}" alt="boat">

                                    </div>
                                    <div class="info">
                                        <h4>{{cancel.BoatDetails[0].Boat_Name}}</h4>
                                        <!-- <h5># 1001</h5> -->
                                        <h5><span><i class="far fa-calendar-check"></i>  </span> {{cancel.start_NoTime}}</h5>
                                        <div *ngIf="cancel.OwnerDetails[0]" >
                                        <h5><span><i class="far fa-user"></i>  </span> {{cancel.OwnerDetails[0].First_Name}}</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> {{cancel.OwnerDetails[0].Parking_Ability}}</h5>
                                        </div>
                                        <div *ngIf="!cancel.OwnerDetails[0]">
                                            <h5><span><i class="far fa-user"></i>  </span> Admin</h5>
                                            <h5><span><i class="fas fa-parking"></i>  </span> NA</h5>
                                            </div>
                                        <h5><span><i class="fas fa-history"></i>  </span>{{cancel.end_NoTime}}</h5>
                                    </div>
                                    </a>
                                </div>
                          
                      
                  
                         </div>
                     </div>
                       
                       
                         <div id="menu4" class="container tab-pane"><br>
                               <div class="row">
                              <div class="col-md-12">
                             <p style="float: right;margin-right: 10px;color: #5463c5;font-weight: 500;">Last 24hrs Updates</p>
                              </div>
                          </div>   
                             
                       <div class="row">
                           <div class="row boat-listing">
                          <div class="col-md-5 boat-list-1">
                                    <a >
                                    <div class="boat-img"><img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat"></div>
                                    <div class="info">
                                        <h4>Sailboat DELPHIA YACHTS</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> 08-sep-2021, 10.00 AM </h5>
                                        <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5>
                                        <h5><span><i class="fas fa-history"></i>  </span>11-Dec-2021, 12.00 AM</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>  
           
           
             <div class="col-md-5 boat-list-1">
                                    <a >
                                    <div class="boat-img"><img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat"></div>
                                    <div class="info">
                                        <h4>Sailboat DELPHIA YACHTS</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> 08-sep-2021, 10.00 AM</h5>
                                        <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5>
                                        <h5><span><i class="fas fa-history"></i>  </span>11-Dec-2021, 12.00 AM</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>  
          
             <div class="col-md-5 boat-list-1">
                                    <a >
                                    <div class="boat-img"><img style="height: 164px;" src="/assets/images/boat-1.jpg" alt="boat"></div>
                                    <div class="info">
                                        <h4>Sailboat DELPHIA YACHTS</h4>
                                         <h5><span><i class="far fa-calendar-check"></i>  </span> 08-sep-2021, 10.00 AM</h5>
                                        <h5><span><i class="far fa-user"></i>  </span> Francis</h5>
                                        <h5><span><i class="fas fa-parking"></i>  </span> Expert</h5>
                                        <h5><span><i class="fas fa-history"></i>  </span>11-Dec-2021, 12.00 AM</h5>
                                        
                                        <a  class="btn btn-primary">Accept</a>
                                        <a  class="btn btn-danger">Reject</a>
                                        
                                    </div>
                                    </a>
                                </div>  
          
                         </div>
                           
                          
                         </div>
                     </div> 
                   
                 </div>
             </div>
       </div>
           </div>
       </div>
    </div>
</div>
<div class="dash-footer">
    <app-footer-adminsession></app-footer-adminsession>   
</div>